<head>
    <style>
        .vl {
            border-left: 6px solid grey;
            height: 300px;
        }

        .gplogo {
            margin: 80px 170px;
        }

    </style>
</head>


{% extends "layout.html" %}
{% load static %}
{% block content %}
    <br><br>
    <div class="jumbotron container text-center" style="width: 400px;">

        <div>
            <h2 class="text-center">Login</h2>
            <form method="post" class="form-horizontal">
                {% csrf_token %}
                {{ form.as_p }}
                <br><br><br><br><br>
                <button class="btn btn-default" type="submit">Login</button>
            </form>

        </div>


    </div>

{% endblock %}