{% load static %}
<link rel="stylesheet" href="{% static 'css/navbar.css' %}">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="col-lg-3">
        <a class="navbar-brand" href='/'>

            <img src="{% static 'application-images/logo.png' %}"
                 class="d-inline-block align-top" alt="Application Logo" style="width: 300px;height:130px;"/>
        </a>
    </div>


    <div class="col-lg-6">
        <form class="form-inline" action="{% url 'BigBasket:search' %}">

            <input class="form-control col-lg-10" type="search" name="q"  placeholder="Search for Products..">
            <div class="input-group-btn">
                <button class="btn btn-outline-success " type="submit"><i class="fa fa-search"></i></button>
            </div>


        </form>
    </div>
    <div class="col-lg-3">
        {% if request.user.is_authenticated %}
            <div class="row">
                <div class="col-lg-6" style="margin-top: 40px;">
                    <span>Hi, <a href="#" style="text-transform: capitalize">{{ user.username }}</a></span>
                    <a href="{% url 'BigBasket:logout' %}">
                        <button class="btn btn-primary btn-outline-primary"> Logout</button>
                    </a>
                </div>
                <div class="col-lg-6">
                    <div class="col">
                        <div class="row-lg-3" style="margin: 2px 0; ">
                            <a href="{% url 'BigBasket:my_orders' %}">
                                <button class="btn btn-primary btn-outline-primary"> My Orders</button>
                            </a>
                        </div>
                        <div class="row-lg-3" style="margin: 2px 0;">
                            <a href="{% url 'BigBasket:cart' %}">
                                <button class="btn btn-primary btn-outline-primary"> My Basket</button>
                            </a>
                        </div>
                        <div class="row-lg-3" style="margin: 2px 0;">
                            <a href="{% url 'BigBasket:checklist' %}">
                                <button class="btn btn-primary btn-outline-primary text-center">Checklist &nbsp;</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>






        {% else %}
            <a class="btn btn-default btn-outline-default" href="{% url 'BigBasket:login' %}">
                <button class="btn btn-primary btn-outline-primary"><i class="fa fa-user mr-sm-2"></i>Login</button>
            </a>
            <a class="btn btn-default btn-outline-default" href="{% url 'BigBasket:signup' %}">
                <button class="btn btn-primary btn-outline-primary">Signup</button>
            </a>

        {% endif %}


    </div>

</nav>
